

body{
    /* background-image: url('/Firstbackground.png'); */
    background-color: #D4C19A;
    
    margin: 0;
}
a { color: inherit; } 

#theme{
/* margin-top: 0; */
background-image: url('/Firstbackground.png');
background-size: 1400px;
background-attachment: fixed;
height: 600px;
position: relative;
margin-bottom: 0;

}

#Mage {
  margin-top: 0;
  background-color: rgba(0, 0, 0, 0.684);
  font-family: Poppins;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  padding-left: 150px;
  line-height: 50px;
}



#Knight {
  margin-top: 0;
  background-color: rgba(0, 0, 0, 0.684);
  font-family: Poppins;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  padding-left: 150px;
  line-height: 50px;
}

#Support {
  margin-top: 0;
  background-color: rgba(0, 0, 0, 0.684);
  font-family: Poppins;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  padding-left: 150px;
  line-height: 50px;
}

#Scout {
  margin-top: 0;
  background-color: rgba(0, 0, 0, 0.684);
  font-family: Poppins;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  padding-left: 150px;
  line-height: 50px;
}


p{
  background-color: rgba(0, 0, 0, 0.684);
font-family: Poppins;
color: white;
font-family: 'Poppins', sans-serif;
font-size: 2.1rem;
text-align: center;
padding:50px;
padding-bottom: 0;
margin-top: 0;
margin-bottom: 0;
font-weight: bold;
line-height: 50px;
}



h1{
    letter-spacing: 2px;
    font-family: 'Skranji', cursive;
    color: #ffc000;
    font-size: 26px;
    font-weight: 400;
    text-shadow: 0 1px 3px #000;
    text-align: center;
  }


  
  .img-logo{
    width: 150px;
    margin: 30px auto;
    display: table;
    animation-name: logo-move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

  }
  
  @keyframes logo-move {
      0% {transform: rotate(0deg)}
      100% {transform: rotate(360deg)}
  }
  
  .btn-home{
    margin: 10px auto;
    width: 250px;
    letter-spacing: 2px;
    border-radius: 8px;
    font-family: 'Skranji', cursive;
    color: #ffc000;
    font-size: 18px;
    font-weight: 400;
    /* text-shadow: 0 1px 3px #000; */
    text-align: center;
    padding: 10px 0;
    background: radial-gradient(circle, #8b0000, #8b0000);
    border-top: 4px ridge #ffb000;
    border-left: 4px groove #ffb000;
    border-right: 4px ridge #ffb000;
    border-bottom: 4px groove #ffb000;
    box-shadow: inset 0px 0px 5px 3px rgba(1,1,1,0.3);
  }
  
  .btn-home:hover{
    background: radial-gradient(circle, #e52b2b, #8b0000);
    box-shadow: 0px 0 5px 5px rgba(255,255,255,0.2)
  }
  
  .btn-home:active{
    background: radial-gradient(circle, #ec6a6a, #e52b2b);
    box-shadow: 0px 0 5px 5px rgba(255,255,255,0.2)
  }

  